{% load static %}
<section class="info_section ">
  <div class="info_container layout_padding-top">
    <div class="container">
      <div class="info_top">
        <div class="info_logo">
          <img src="{% static '/images/logo.png' %}" alt="" />
          <span>
            Spering
          </span>
        </div>
        <div class="social_box">
          <a href="#">
            <img src="{% static '/images/fb.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static '/images/twitter.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static '/images/linkedin.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static '/images/instagram.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static '/images/youtube.png' %}" alt="">
          </a>
        </div>
      </div>

      <div class="info_main">
        <div class="row">
          <div class="col-md-3 col-lg-2">
            <div class="info_link-box">
              <h5>
                Useful Link
              </h5>
              <ul>
                <li class=" active">
                  <a class="" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="{% url 'about' %}">About </a>
                </li>
                <li class="">
                  <a class="" href="{% url 'categories' %}">Category </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 ">
            <h5>
              Offices
            </h5>
            <p>
              Readable content of a page when looking at its layoutreadable content of a page when looking at its layout
            </p>
          </div>

          <div class="col-md-3 col-lg-2 offset-lg-1">
            <h5>
              Information
            </h5>
            <p>
              Readable content of a page when looking at its layoutreadable content of a page when looking at its layout
            </p>
          </div>

          <div class="col-md-3  offset-lg-1">
            <div class="info_form ">
              <h5 id="newsletter">
                Newsletter
              </h5>
              <form method = 'POST' action="{% url 'newsletter' %}">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email">
                <button>
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
